<mat-toolbar color='secondary' class='footerToolbar'>

    <mat-toolbar-row class='footer'>
      <div class='footicon' fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul class="footbtns" fxLayout fxLayoutGap="1.250em">
          <li fxHide.xs>
            <button mat-icon-button matTooltip="Contact" [matTooltipShowDelay]="500" [matTooltipHideDelay]="500" aria-label="Contact section button">
              <mat-icon routerLink="/contact">mail_outline</mat-icon>
            </button>
          </li>
        </ul>
      </div>

    </mat-toolbar-row>

</mat-toolbar>
