h2 {
    font-family: 'Muli', sans-serif;
}

.dropdown{
    width: 130px;
    height: 22px;
    margin: 3px;
}

.button{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    left: 40%;
    width: 20%;
    margin: 10px;
}

.search{
    border-radius: 10px;
    background-color: rgba(202, 228, 219);
    /* width: 40%;
    left: 90px;
    position: relative;
    padding: 12px;
    top: -520px; */

}