h1{
    font-family: 'Muli', sans-serif;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 30%;
    width: 15%;
    position: absolute;
    padding: 6em;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #CAE4dB;
    border-radius: .7em;
    font-family: 'Anton', sans-serif;

}

.closeBtn {
    position: relative;
    top: -7em;
    left: 15vw;
}