<div class="contactContainer">
    <div class="ContactHeading">
        <h1>Contact Us!</h1>
    </div>
    <div class='contact'>d
        <div class="closeBtn">
        </div>
        <div class="contactForm">
            <div>
            <mat-form-field class="contactInput" action="https://formspree.io/justis710@gmail.com" method="POST"target='blank'>
                <input mat-input type="email" name="email" placeholder="Your Email" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <textarea name="message" type="textarea" placeholder="Message" required></textarea>
            </mat-form-field>
        <div class="buttons">
            <button mat-button type="submit" value="send"><mat-icon>email</mat-icon></button>
            <button mat-button type="button"><mat-icon routerLink='/'>exit_to_app</mat-icon></button>
        </div>
        </div>
    </div>
</div>