<div class='AbtContainer'>
  <div class="AbtHeading">
    <h1>INtents</h1>
  </div>
  <div class="content">
    <div class="closeBtn">
      <button mat-icon-button matTooltip="Close" [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="Close About section button">
        <mat-icon routerLink='/'>exit_to_app</mat-icon>
      </button>
    </div>
    <span>Sometimes spending a day in the wilderness isn't quite enough to truly capture the feeling of a special place. 
        Sure, you see some amazing views or go on an unforgettable hike, but to get the full experience, you need to see the dark, starry skies. 
        To listen to the yips of coyotes. To watch the sun rise on a silent, dewy morning. At INtents we want to help you get out there
        and experience camping the way it was meant to be! We provide you with the necessary information to give you the best possible experience.
        We also work with the National Parks Service to keep you up-to-date with any alerts and closures that could hinder your trip, as well as 
        any and all accomodations you may want. With INtents you can trust that on the day of your trip the only thing you will have to worry about is 
        is whether you remembered to bring bug spray. So pack up your tent or hitch up the fifth wheel — adventure awaits.</span>
  </div>
</div>