#wrapper {
    width: 100vw;
    height: 400px;
    background: rgba(122, 157, 150, 0.418);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 30px; */
    box-sizing: border-box;
    position: relative;
    top: 180px;
    margin-left: -1em;
}

.inputs{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    position: relative;
    top: 10px;
    height: 320px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

