.bgImage {
    background-image: url('../../assets/intent3.jpg');
    /* margin: -2em; 
    margin-bottom: -1em;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 102vh;
    width: 102vw; */
    margin:0 auto;
    position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
}

button{
    margin: 2vh;
}
#wrapper {
    /* width: 101vw;
    height: 400px;
    background: rgba(122, 157, 150, 0.418);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    top: 180px; */
    /* margin-left: -1em; */
    background: rgba(122, 157, 150, 0.418);
    margin: auto;
    border-radius: 0.25rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
}

.inputs{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    top: 10px;
    height: 320px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

