
<div id="wrapper">
      
   <form #loginForm (submit)="onSubmit($event)" *ngIf="isLogin">
      <div class="inputs">
         <img src='../../assets/INTents_logo 1_lowercase.png'height="90">
      <mat-form-field>
         <input matInput placeholder="email">
      </mat-form-field>
      <mat-form-field>
         <input matInput placeholder="password">
      </mat-form-field>
      </div>
      <button mat-raised-button>Submit</button>
   </form>


   <form #signupForm (submit)="onSubmit($event)" *ngIf="!isLogin">
        
      <div class="inputs">
         <img src='../../assets/INTents_logo 1_lowercase.png'height="90">
            <mat-form-field>
            <input matInput placeholder="email">
         </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="password">
         </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="confirm password">
         </mat-form-field>
      </div>
      <button mat-raised-button>Submit</button>

   </form>

   <button mat-raised-button (click)="isLogin = !isLogin">{{ isLogin ? "switch to signup" : "switch to Login" }}</button>


</div>
