<mat-toolbar color='secondary' class='toolBar'>

    <mat-toolbar-row>
      <a class="title" matTooltip="Home" [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="Home page link." routerLink="/home">{{ title }}</a>

      <div class='icons' fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul class="btns" fxLayout fxLayoutGap="1.250em">
          <button mat-icon-button matTooltip="Menu" [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="Menu section button">
            <mat-icon>menu</mat-icon>
          </button>
          <!-- <li fxHide.xs>
            <button mat-icon-button matTooltip="?" [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="? section button">
              <mat-icon>settings</mat-icon>
            </button>
          </li> -->
          <li fxHide.xs>
            <button mat-icon-button matTooltip="About" [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="About section button">
              <mat-icon routerLink="/about">help_outline</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button matTooltip="Login" [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="Login/Signup section button">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #auth="matMenu">
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </li>
    
        </ul>
      </div>

    </mat-toolbar-row>

</mat-toolbar>
