.logo {
    height: 6em;
    width: 7em;
    left: 3em;
    position: fixed;
}

.toolBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    width: 100vw;
    box-shadow: .1em .1em .1em #000000;
    height: 9em;
    display: flex;
    justify-content: center;
}

#image.toolBar {
    background-image: url('../../assets/adventure-camp-camping-699558.jpg');
    background-attachment: fixed;
    background-size: cover;
<<<<<<< HEAD
    background-position: 0% 420%;
    background-repeat: no-repeat;
=======
    background-position: 100% 330%;
    background-repeat: no-repeat;
    
>>>>>>> 6edaa41aa2d7b442d86cc5319f4a6522e135cc5e
}

.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000;
}

a.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000
}

.btns{
    list-style: none;
    margin-right: 3em;
}

.icons {
    display: inline-flex;
    float: right;
    color: #CAE4DB;
}

.footerToolbar {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    /* right: 0; */
    /* z-index: 998; */
    width: 100vw;
    height: 2vh;

}

.footbtns {
    list-style: none;
    margin-right: 33em;

}

.footicon {
    display: flex;
    color: #CAE4DB;
}