<mat-toolbar color='secondary' class='intents-tool-bar'>

    <mat-toolbar-row>
      <span class="title">{{ title }}</span>

      <div class='icons' fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul class="btns" fxLayout fxLayoutGap="1.250em">
          <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>
          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button >
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #auth="matMenu">
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </li>
    
        </ul>
      </div>

    </mat-toolbar-row>

</mat-toolbar>