.logo {
    height: 6em;
    width: 7em;
    left: 1.5em;
    position: fixed;
}

.toolBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    width: 100vw;
    box-shadow: .1em .1em .1em #000000;
    height: 7em;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* #image.toolBar {
    background-image: url('../../assets/adventure-camp-camping-699558.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 345%;
    background-repeat: no-repeat;
    
} */

.mat-toolbar-row {
    padding: 0;
}

#brand {
    position: absolute;
    width: 100vw;
    bottom: -50px;
}

.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000;
}

a.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000
}

.btns{
    list-style: none;
    margin-right: 3em;
}

.icons {
    display: inline-flex;
    float: right;
    color: #CAE4DB;
    font-size: 36px; 
}

.footerToolbar {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    /* right: 0; */
    /* z-index: 998; */
    width: 100vw;
    height: 2vh;

}

.footbtns {
    list-style: none;
    margin-right: 36em;

}

.footicon {
    display: flex;
    color: #CAE4DB;
}

/* .material-icons.md-48 { font-size: 48px; } */