.toolBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  width: 100vw;
  box-shadow: .1em .1em .1em #000000;
}

.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000;
    font-family: 'Anton', sans-serif;
}

a.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000
}

.btns{
    list-style: none;
    margin-right: 3em;
}

.icons {
    display: inline-flex;
    float: right;
}