.tripPlan {
    background-color: #CAE4dB;
    font-family: 'Muli', sans-serif;
    border-radius: 10px;
    margin: 10px;
}

th, td {
    text-align: center;
    padding: 30px;
    margin: 10px;
}

input {
    margin: 15px;
    padding: 5px;
    position: relative;
}

.tableHead {
    text-align: center;
}

form {
    margin: -8vh;
    padding: 20px;
    position: relative;
    left: .5%;
}

h2 {
    padding: 30px;
}

#button {
    display: flex;
    flex-direction: row;
}
