<div class="tripPlan">
<app-calendar></app-calendar>
<form>
  <div class="form-group form-inline">
    <input matInput class="form-control ml-2" type="text" name="location" [(ngModel)]="service.location" placeholder='Location'/>
    <input matInput class="form-control ml-2" type="text" [(ngModel)]="service.numberPeople" placeholder="# of People"/>
  </div>
</form>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Location</th>
      <th scope="col">Number of People</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let date of dates$ | async">  
      <th scope="row">{{ date.id }}</th>
      <td>
        <!-- {{}} -->
      </td>
      <td>
      
      </td>
      <td>

      </td>
    </tr>
    </tbody>
  </table>

  <!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>
  </div> -->

</div>