<div class="tripPlan">
<app-calendar></app-calendar>
<form>
  <div class="form-group form-inline">
    <input mat-input class="form-control ml-2" type="text" name="location" [(ngModel)]="location" placeholder='Location'/>
    <input mat-input class="form-control ml-2" type="text" name="numberOfPeople" [(ngModel)]="numberPeople" placeholder="# of People"/>
    <button mat-icon-button type="submit" (click)="onSubmit($event)" matTooltip="Create Trip" [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value" aria-label="Create Trip button"><mat-icon>create</mat-icon></button>
  </div>
</form>

  <table class="table table-striped">
    <thead>
    <tr class="tableHead">
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Location</th>
      <th scope="col">Number of People</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let trip of trips">  
      <th scope="row">{{ trip.id }}</th>
      <td>{{ trip.date }}</td>
      <td>{{ trip.location }}</td>
      <td>{{ trip.numberPeople }}</td>

      <td>
        <button mat-icon-button (click)="onUpdate($event)"><mat-icon>update</mat-icon></button>
      </td>
      <td>
        <button mat-icon-button (click)="onRemove($event)"><mat-icon>delete_outline</mat-icon></button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</div>
