.logo {
    height: 8em;
    width: 9em;
    left: -2px;
    position: fixed;
    top: -2px;
    
    
}

/* #logoBox{
    height: 7em;
    width: 9em;
    left: 0em;
    position: fixed;
    background-color: rgba(245, 245, 245, .4);
} */

.toolBar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    width: 100vw;
    height: 7em;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.mat-toolbar-row {
    padding: 0;
}

#brand {
    position: absolute;
    width: 100vw;
    bottom: -90px;
    /* TODO: mess with moving the image to the left to help with logo visibility */
}

.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000;
}

a.title{
    font-size: 2.2em;
    text-decoration: none;
    color: #000000
}

.btns{
    list-style: none;
    margin-right: 3em;
}

.btns button {
    background-color: rgba(202, 228, 219, .8);
}

.icons {
    display: inline-flex;
    float: right;
    color: #00303F;
    font-size: 36px; 
}