<div class="container">
    <h1>Add a Review</h1>

    <mat-form-field>
        <textarea rows="6" matInput placeholder="Type your review here"></textarea>
    </mat-form-field>

    <div id="stars">
        <mat-icon [style.color]="starRating >= 2 ? '#DCAE1D' : 'black'" (click)="starRating = 2">star_rate</mat-icon>
        <mat-icon [style.color]="starRating >= 3 ? '#DCAE1D' : 'black'" (click)="starRating = 3">star_rate</mat-icon>
        <mat-icon [style.color]="starRating >= 4 ? '#DCAE1D' : 'black'" (click)="starRating = 4">star_rate</mat-icon>
        <mat-icon [style.color]="starRating >= 5 ? '#DCAE1D' : 'black'" (click)="starRating = 5">star_rate</mat-icon>
        <mat-icon [style.color]="starRating >= 1 ? '#DCAE1D' : 'black'" (click)="starRating = 1">star_rate</mat-icon>
    </div>
        <button mat-raised-button color="primary"class="button" (click)="onClick()">Submit</button>
</div>