.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE4dB;
    width: 40vw;
    border-radius: 10px;
}

.button {
    margin: 5px;
}

.container2{
    display: inline-flex;
    flex-direction: column;
    background-color: #CAE4dB;
    border-radius: 10px;
    margin: 50px;  
    width: 40vw;
}

#reviewInput {
    width: 35vw;
    height: 100px;
    margin: 30px;
}

.stars{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 120px;
    padding: 20px;
}

/* for the view */
.reviewInput{
    border: none;
    background-color:#CAE4dB;

}
h1 {
    color: black;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.ratingStars {
position: relative;
}

th {
    display: inline;
    font-family: 'Muli', sans-serif;
    padding: 30px;
    position: relative;
}


#buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

#reviewTable {
    width: 100%;
    position: relative;
}