.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE4dB;
    width: 40vw;
    border-radius: 10px;

}

h1 {
    color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Muli', sans-serif;
}

#reviewInput {
    width: 35vw;
    height: 100px;
    margin: 30px;
}

#stars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    cursor: pointer;
    
}

.button {
    margin: 10px;
}