
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Felipa');

html, body {
     height: 100%;
 }

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* background-image: url('./assets/intent3.jpg'); */
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    background-attachment: fixed;
    height: 50%;
    width: 50%;
}
