.dropdown{
    width: 130px;
    height: 22px;
    margin: 3px;
}

.button{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    left: 270px;
    width: 20%;
    
}

.search{
    border-radius: 10px;
    background-color: #CAE4dB;
    width: 650px;
    position: relative;
    margin: 30px;
    padding: 10px;
    top: 175px;

}